.productsListCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsListCard h2 {
  color: #1d2026;
}

.productsListCard img {
  max-width: 9.375rem;

  border-radius: 0.9375rem;
}

.productsListCard a {
  cursor: pointer;
  text-decoration: none;
}

.productsListCard img:hover {
  opacity: 0.5;
  transition: opacity 0.3s;

  border: 2px solid #ff7e1b;
}
