li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #69707d;
}

.mainHeader {
  display: flex;
  flex-direction: column;

  margin-top: 1.75rem;
}

.mainHeader::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.0625rem;
  background-color: #e4e9f2;
}

menu {
  display: flex;
  justify-content: space-between;
}

.navigation,
.navigation ul,
.cartNavigation {
  display: flex;
  align-items: center;
}

.navigation a:hover {
  color: gold;
}

.logo {
  height: 1.25rem;

  margin-right: 3.53rem;
}

.cart {
  width: 1.36382rem;
  height: 1.25rem;

  align-self: center;
}

.avatar {
  width: 3.125rem;
  height: 3.125rem;
}

.navigation li + li {
  margin-left: 2rem;
}

.cartNavigation li + li {
  margin-left: 2.89rem;
}
