li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #69707d;
}

.mainHeader {
  display: flex;
  justify-content: space-between;

  margin-top: 1.75rem;
}

.navigation,
.navigation ul,
.cartNavigation {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.25rem;

  margin-right: 3.53rem;
}

.cart {
  width: 1.36382rem;
  height: 1.25rem;

  align-self: center;
}

.avatar {
  width: 3.125rem;
  height: 3.125rem;
}

.navigation li + li {
  margin-left: 2rem;
}

.cartNavigation li + li {
  margin-left: 2.89rem;
}

hr {
  display: unset;
  unicode-bidi: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  overflow: unset;
  border-style: unset;
  border-width: unset;
}
