.productSection {
  display: flex;
  width: 91.35%;
  max-width: 63.4rem;

  margin: 0 auto;
  /* margin-top: 2.12rem; */
  padding-top: 5.62rem;
}

.productCards {
  background-color: aliceblue;
}

.productInformations {
  background-color: coral;
}
