@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

body,
p,
h1 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
