@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

body,
p,
h1,
menu,
ul {
  margin: 0;
  padding: 0;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
